body{
    background-image: url('login.png');
    background-size: cover;
    background-repeat: repeat;
}
.signupform{
    position:absolute;
    top:80px;
    left:160px;
    border-bottom: 8px solid white;
    border-top:8px solid white;
    border-left:2px solid white;
    border-right:2px solid white;
    border-radius:10px;
    width: 250px;
    height:480px;
    background-color:transparent;
    padding: 50px;
}
.signupform h2{
    color:black;
    padding-left:80px;
    
    
    
}
.signupform input{

   /* width:250px;
    height:50px;
    background-color: transparent;
    border-bottom:2px solid black;
    border-right:transparent;
    border-left:transparent;
    border-top:transparent;
    border-radius:20px;*/
 border:1px solid white; 
  padding: 18px 50px;
  background-color: #3A4255;
  border-radius:50px;
  color: white;   
}
::placeholder{
  text-align: center;  
  }
#signupbttn{
   width:270px;
    height:50px;
    padding:10px;
    border: 2px solid black;
    border-radius:15px;
    background-image: linear-gradient(transparent, #0e0e30), linear-gradient(90deg, #008cff, #6942ef);
    font-size: 20px;
     
    padding: 13px 44px;
    margin-left: 3px;
    color:white;
    

} 
.signupbutton:hover{
    background-color: white;



}
.signupform h2{
  position:relative;
  width: 300px;
    height: 45px;
    margin: auto;
    margin-top:5px;
    margin-bottom: 2px;   
   
    text-align: left;
    color: white  ;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right: px;
    
    border-radius: 5px;
    
}
.signupform h3{
    text-align: center;
    color: #031825;
}


#signupbttn {
  position: relative;
  
  display: block;
  color: white;
  border-radius: 26px;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-color: transparent;
  background-clip: padding-box;
  overflow: hidden;
  z-index: 1;
  
  &::before {
    content: '';
    position: absolute;
    color: black;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: 2px solid black;
    background-image: linear-gradient(transparent, #0e0e30), linear-gradient(90deg, #008cff, #6942ef);
    background-clip: padding-box, border-box;
  background-repeat: repeat-x;
  background-size: calc(100% + 2px * 2) calc(100% + 2px * 2);
  background-position: center;
    border-radius: 26px;
    z-index: -1;
    transition: border-color 0.2s;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vmax;
    height: 70vmax;
    border-radius: 50%;
    background-image: linear-gradient(90deg, rgb(255, 255, 255), rgb(3, 35, 247));
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 1s ease-in-out;
    z-index: -1;
  }
  
  &:hover {
    color: var(--textColor2);
    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  &:active {
    color: #c3c4d5;
    border: 2px solid black;
  }
  
  &:focus {
    color: black;
    &::before {
      border-color: #00b8d9;
    }
  }
}
#icons{
  
 /*background-color: ;*/
 padding-left: 30px;
    
  }
  #imgicon{
    border: 2px solid transparent;
  }
  #imgicon:hover{
    cursor: pointer;
    border: 2px solid white;
    border-radius: 15px;
  }

h2{
  padding-right: 60px;
}